{{ 'size-guide.css' | asset_url | stylesheet_tag }}

<size-guide class="size__guide">
  <div class="sizeguide-modal is-hidden" data-state="cm">
    <div class="sizeguide-modal__inner">
      <div class="sizeguide-modal__close">
        <svg
          width="16"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          class="css-rm4v83"
          style="cursor: pointer;"
        >
          <path d="M18.4853 1.51458L1.51472 18.4851M18.4853 18.4851L1.51472 1.51458" stroke="black" stroke-width="2px" class="css-18ii0kz"></path>
        </svg>
      </div>
      <div class="sizeguide-modal__top-bar">SIZE GUIDE: PRODUCT MEASUREMENTS</div>

      <div class="sizeguide-modal__content">
        <div class="sizeguide-modal__content-part-left">
          <h2 class="sizeguide-modal__title">Didcot Shirt</h2>
          <div class="sizeguide-modal__singleline-copy">
            If unsure of your size, we suggest measuring a similar item from your wardrobe. The garment measurements
            below are provided for guidance.
          </div>
          <h6>A. CHEST WIDTH</h6>
          <p>Measure under the armpits, straight across from one side to the other.​</p>

          <div class="spacing"></div>

          <h6>B. ACROSS SHOULDER</h6>
          <p>Measure straight across from one shoulder seam to the other.</p>

          <div class="spacing"></div>

          <h6>C. SLEEVE LENGTH</h6>
          <p>Measure from the shoulder seam along the outer sleeve to the end of the cuff.</p>

          <div class="spacing"></div>

          <h6>D. SIDE NECK TO HEM</h6>
          <p>Start at the side of the neck and measure straight down to the hem.</p>
        </div>
        <div class="sizeguide-modal__content-part-right">
          <div class="sizeguide-modal__content-image">
            <img src="//waxlondon.com/cdn/shop/files/SS_SHIRT.jpg?v=1741116772" alt="" width="" height="">
          </div>
        </div>
      </div>

      <div class="sizeguide-modal__toggle-markup">
        <div class="sizeguide-modal__toggle">
          <span class="sizeguide-modal__toggle-text --cm">CM</span>
          <span class="sizeguide-modal__toggle-text --in">Inches</span>
        </div>
      </div>

      <div class="sizeguide-modal__table-wrapper --desktop">
        <table>
          <tbody>
            <tr>
              <td><span></span></td>

              <td><span>XS</span></td>

              <td><span>S</span></td>

              <td><span>M</span></td>

              <td><span>L</span></td>

              <td><span>XL</span></td>

              <td><span>XXL</span></td>
            </tr>

            <tr>
              <td><span>CHEST WIDTH:</span></td>

              <td>
                <span class="cm-value">52.7</span>
                <span class="in-value">21.1</span>
              </td>

              <td>
                <span class="cm-value">55.2</span>
                <span class="in-value">22.1</span>
              </td>

              <td>
                <span class="cm-value">57.7</span>
                <span class="in-value">23.1</span>
              </td>

              <td>
                <span class="cm-value">60.2</span>
                <span class="in-value">24.1</span>
              </td>

              <td>
                <span class="cm-value">62.7</span>
                <span class="in-value">25.1</span>
              </td>

              <td>
                <span class="cm-value">65.5</span>
                <span class="in-value">26.2</span>
              </td>
            </tr>

            <tr>
              <td><span>ACROSS SHOULDER:</span></td>

              <td>
                <span class="cm-value">45.6</span>
                <span class="in-value">18.2</span>
              </td>

              <td>
                <span class="cm-value">46.8</span>
                <span class="in-value">18.7</span>
              </td>

              <td>
                <span class="cm-value">48</span>
                <span class="in-value">19.2</span>
              </td>

              <td>
                <span class="cm-value">49.2</span>
                <span class="in-value">19.7</span>
              </td>

              <td>
                <span class="cm-value">50.4</span>
                <span class="in-value">20.2</span>
              </td>

              <td>
                <span class="cm-value">51.6</span>
                <span class="in-value">20.6</span>
              </td>
            </tr>

            <tr>
              <td><span>SLEEVE LENGTH:</span></td>

              <td>
                <span class="cm-value">26</span>
                <span class="in-value">10.4</span>
              </td>

              <td>
                <span class="cm-value">26.5</span>
                <span class="in-value">10.6</span>
              </td>

              <td>
                <span class="cm-value">27</span>
                <span class="in-value">10.8</span>
              </td>

              <td>
                <span class="cm-value">27.5</span>
                <span class="in-value">11</span>
              </td>

              <td>
                <span class="cm-value">28</span>
                <span class="in-value">11.2</span>
              </td>

              <td>
                <span class="cm-value">28.5</span>
                <span class="in-value">11.4</span>
              </td>
            </tr>

            <tr>
              <td><span>SIDE NECK TO HEM:</span></td>

              <td>
                <span class="cm-value">70.7</span>
                <span class="in-value">28.3</span>
              </td>

              <td>
                <span class="cm-value">72.2</span>
                <span class="in-value">28.9</span>
              </td>

              <td>
                <span class="cm-value">73.7</span>
                <span class="in-value">29.5</span>
              </td>

              <td>
                <span class="cm-value">75.2</span>
                <span class="in-value">30.1</span>
              </td>

              <td>
                <span class="cm-value">78.2</span>
                <span class="in-value">31.3</span>
              </td>

              <td>
                <span class="cm-value">81.2</span>
                <span class="in-value">32.5</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</size-guide>
